@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
body {
  position: relative;
  overflow: visible;
}

hr {
  width: 100%;
  background: #6d3a9f;
  height: 2px;
  border: none;
}

.noScroll {
  overflow: hidden;
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__inner {
  max-width: 100%;
  padding: 20px;
}

li {
  margin-bottom: 10px;
}

li a {
  font-size: 20px;
  font-weight: 500;
}

.squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#black, #black2, .blackSquare, #yellow {
  width: 100px;
  height: 100px;
  background: #000;
  margin-right: 20px;
}

button, .submitButton {
  width: 150px;
  height: 50px;
  background: #a1c4fd;
  border-radius: 4px;
  border: none;
  margin: 20px 0;
  margin-right: 10px;
}

button:hover, .submitButton:hover {
  cursor: pointer;
  background: #ff9a9e;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inputSelector {
  width: 200px;
}

label {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  color: #7a29ad;
}

#yellow {
  background: yellow;
  margin-bottom: 20px;
}

#yellow:hover {
  cursor: pointer;
}

.task6Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#task6Button {
  margin-right: 40px;
}

#red {
  background: red;
  width: 50px;
  height: 50px;
  margin: 20px 0;
}

#green {
  background: green;
  width: 50px;
  height: 20px;
}

.tasks__inner {
  position: relative;
}

.btn-six {
  position: absolute;
  top: 220px;
  left: 0;
}

.image, .images {
  display: none;
}

.image.active, .images.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image img, .images img {
  width: 300px;
  height: 300px;
  margin: 20px;
}

textarea {
  width: 400px;
  height: 100px;
}

.coordinates, .lang, .geolocation {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #dcdade;
  top: 0;
  right: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.lang {
  width: 80px;
  height: 50px;
  top: 110px;
}

.geolocation {
  width: 200px;
  top: 170px;
}

.bigText__inner {
  font-size: 30px;
}

.topButton {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #dcdade;
  bottom: 100px;
  right: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#parrentDiv {
  width: 200px;
  height: 200px;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#childDiv {
  width: 100px;
  height: 100px;
  background: yellow;
}

#popUpWindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000vh;
  background: rgba(106, 104, 108, 0.7);
  z-index: 9999;
}

.hidden {
  display: none;
}

.block_tasks {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_tasks:first-child {
  margin: 80px 0 40px 0;
}

.input, #parrentDiv, form {
  margin-bottom: 20px;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  color: red;
}

[data-tooltip]:hover::after {
  opacity: 1;
}

.releaseMes {
  color: blue;
  font-weight: 700;
}

.fileUpload {
  background: #dcdbdf;
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  outline: 5px dashed #1bbc9b;
  outline-offset: -5px;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.fa-cloud-upload-alt, .fa-file-alt {
  color: #1bbc9b;
  font-size: 60px;
  margin-bottom: 10px;
}

.fa-file-alt {
  color: #58aabb;
}

.drop {
  color: #1bbc9b;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  width: 100%;
  max-width: 200px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}

/*PART2*/
.chooseCSV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.atten {
  color: red;
}

.choose {
  margin: 0;
  margin-bottom: 5px;
}

input.choose {
  margin-right: 5px;
}

.selectText {
  font-weight: 700;
}
/*# sourceMappingURL=app.css.map */